.button-404-container {
  display: flex;
  position: absolute;
  right: 0;
}

.button-404 {
  position: relative;
  width: 160px;
  height: 50px;
  margin: 0 15px;
  cursor: pointer;
}

.shape {
  /* 取消填充 */
  fill: none;
  /* 定义一条线 */
  stroke: #009ffd;
  /* 线的宽度 */
  stroke-width: 6;
  /* 设置虚线:虚线长度  虚线宽度 */
  stroke-dasharray: 100 400;
  /* 设置偏移量 */
  stroke-dashoffset: -240;
  /* 过度效果 */
  transition: .5s ease;
}

.text-404 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: #009ffd;
  letter-spacing: 2px;
  text-align: center;
}

.button-404:hover .shape {
  stroke: #06a6a0;
  stroke-dasharray: 50 0;
  stroke-dashoffset: 0;
}