#article-container .flink {
  display: flex;
  flex-direction: column;
}

#article-container .flink .flink-list {
  overflow: auto;
  padding: 10px 10px 0;
  text-align: center;
}

#article-container .flink .flink-name {
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1.5em;
  position: relative;
  box-shadow: inset 1px 1px 1px #fff, inset -1px -1px 2px #f2f2f2;
  color: #e392f1;
  text-shadow: 1px 1px 0 #808080;
  border: 1px solid transparent;
  border-radius: 0 0 50% 50%;
  transition: all 0.5s;
  animation: wave 15s linear infinite;
}


#article-container .flink .flink-desc {
  text-align: center;
  padding: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1.5em;
  background: transparent;
  text-shadow: 0 0 4px #fff, -2px 4px 4px #ff3, 0px 1px 1px #fd3, 5px -3px 5px #f80, -6px -1px 6px #f20;
}

#article-container .flink .flink-list>.flink-list-item {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 15px 7px;
  width: calc(100% / 3 - 15px);
  min-height: 200px;
  border-radius: 15px;
  line-height: 17px;
  background-color: rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 20px 20px 50px rgba(255, 255, 255, 0.5);
  /* 背景模糊 */
  backdrop-filter: blur(5px);
}

@media screen and (max-width: 1024px) {
  #article-container .flink .flink-list>.flink-list-item {
    width: calc(50% - 15px) !important;
  }
}

@media screen and (max-width: 600px) {
  #article-container .flink .flink-list>.flink-list-item {
    width: calc(100% - 15px) !important;
  }
}

#article-container .flink .flink-list>.flink-list-item .flink-item-icon {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 90px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
}

#article-container .flink .flink-list>.flink-list-item .flink-item-icon img {
  width: 100%;
  height: 90px;
  object-fit: cover;
  margin: 0;
}

#article-container .flink .flink-item-name,
#article-container .flink .flink-item-desc {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#article-container .flink .flink-list>.flink-list-item .flink-item-name {
  display: block;
  position: absolute;
  bottom: 18%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  color: rgba(100, 41, 155, 0.3);
  width: 100%;
  height: 80px;
  line-height: 80px;
}


#article-container .flink .flink-list>.flink-list-item .flink-item-desc {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  color: rgb(156, 47, 138);
  font-weight: 300;
  width: 100%;
  line-height: initial;
  opacity: 1;
  transition: all 0.5s;
  z-index: 2;
}

#article-container .flink .flink-list>.flink-list-item:hover .flink-item-desc {
  opacity: 1;
}





/* 夜间适配 */
[data-theme="dark"] #article-container .flink .flink-name {
  box-shadow: inset 1px 1px 1px #000, inset -1px -1px 2px #808080;
  color: #e392f1;
  text-shadow: 1px 1px 0 #808080;
}

[data-theme="dark"] #article-container .flink .flink-name::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  min-width: 40%;
  height: 10px;

  border-radius: 0 0 50% 50%;
  filter: blur(px);
  transition: all 0.5s;
}


[data-theme="dark"] #article-container .flink .flink-name:nth-child(1) {
  --c: #ff4575;
}

[data-theme="dark"] #article-container .flink .flink-name:hover {
  color: #fff;
  text-shadow: 0 0 10px var(--c);
  box-shadow: inset 1px 1px 1px #000, inset -2px -2px 2px var(--c);
}

[data-theme="dark"] #article-container .flink .flink-name:hover::before {
  background-color: var(--c);
  box-shadow: 0 0 10px var(--c), 0 0 20px var(--c), 0 0 30px var(--c), 0 0 40px var(--c), 0 0 50px var(--c);
}

[data-theme="dark"] #article-container .flink .flink-desc {
  text-shadow: 0 0 4px #fff, -2px 4px 4px #ff3, 0px 1px 1px #fd3, 5px -3px 5px #f80, -6px -1px 6px #f20;
}

[data-theme="dark"] #article-container .flink .flink-list>.flink-list-item {
  background-color: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, .5);
}


[data-theme="dark"] #article-container .flink .flink-list>.flink-list-item .flink-item-name {
  color: rgba(255, 255, 255, 0.5);
}


[data-theme="dark"] #article-container .flink .flink-list>.flink-list-item .flink-item-desc {
  color: rgba(255, 255, 255, 0.3);
}