/* 颜色 */
:root {
  --Rhh-tag-background: rgba(255, 255, 255, .3);
  --style-border: #ccc;
  --Rhh-card-bg: rgb(253, 246, 246);
  --Rhh-main: #2998ff;
  --Rhh-shadow-theme: rgba(0, 0, 255, 0.356);
  --Rhh-white: #27eeee;
  --Rhh-background: #ffb900;
  --Rhh-fontcolor: rgb(170, 0, 0);
  --c: #ff4575;
  --Rhh-theme-op: #4259ef23;
  --Rhh-white: #fff;
  --Rhh-black: #000;
  --Rhh-none: rgba(0, 0, 0, 0);
  --Rhh-gray: #999999;
  --Rhh-yellow: #ffc93e;
  --Rhh-border-radius: 8px;
  --Rhh-main-op: var(--Rhh-theme-op);
  --Rhh-shadow-theme: 0 8px 12px -3px var(--Rhh-theme-op);
  --Rhh-shadow-main: 0 8px 12px -3px var(--Rhh-main-op);
  --Rhh-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, 0.2);
  --Rhh-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, 0.2);
  --Rhh-shadow-black: 0 0 12px 4px rgba(0, 0, 0, 0.05);
  --Rhh-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, 0.12);
  --Rhh-shadow-red: 0 8px 12px -3px #ee7d7936;
  --Rhh-shadow-green: 0 8px 12px -3px #87ee7936;
  --Rhh-shadow-border: 0 8px 16px -4px #2c2d300c;
  --Rhh-logo-color: linear-gradient(215deg, #4584ff 30%, #ff7676 70%);
  --style-border: 1px solid var(--Rhh-card-border);
  --Rhh-blue-main: #a3b8f1;
  --style-border-hover: 1px solid var(--Rhh-main);
  --style-border-dashed: 1px dashed var(--Rhh-theme-op);
  --style-border-avatar: 4px solid var(--Rhh-background);
  --style-border-always: 1px solid var(--Rhh-card-border);
  --Rhh-white-acrylic1: #fefeff !important;
  --Rhh-white-acrylic2: #fcfdff !important;
  --Rhh-black-acrylic2: #08080a !important;
  --Rhh-black-acrylic1: #0b0b0e !important;
  --Rhh-theme-main-1: #c5fff8;
  --Rhh-theme-main-2: #c5f3ff;
  --Rhh-theme-main-3: #c5e0ff;
  --Rhh-theme-main-4: #c5ccff;
  --Rhh-theme-main-5: #d1c5ff;
  --Rhh-theme-main-6: #e4c5ff;
  --Rhh-theme-main-7: #ffc5f3;
  --Rhh-theme-main-8: #ffc5e0;
  --Rhh-theme-main-9: #ffC5CC;
  --Rhh-theme-main-10: #ffe4C5;
  --Rhh-theme-main-11: #fff8c5;
  --Rhh-theme-main-12: #f3ffc5;
  --Rhh-theme-main-12: #e0ffc5;
}


[data-theme="light"] {
  --Rhh-theme: #3b70fc;
  --Rhh-theme-op: #4259ef23;
  --Rhh-blue: #3b70fc;
  --Rhh-red: #d8213c;
  --Rhh-pink: #ff7c7c;
  --Rhh-green: #57bd6a;
  --Rhh-fontcolor: #363636;
  --Rhh-background: #f7f9fe;
  --Rhh-reverse: #000;
  --Rhh-maskbg: rgba(255, 255, 255, 0.6);
  --Rhh-maskbgdeep: rgba(255, 255, 255, 0.85);
  --Rhh-hovertext: var(--Rhh-theme);
  --Rhh-ahoverbg: #f7f7fa;
  --Rhh-lighttext: var(--Rhh-main);
  --Rhh-secondtext: rgba(60, 60, 67, 0.6);
  --Rhh-scrollbar: rgba(60, 60, 67, 0.4);
  --Rhh-card-btn-bg: #edf0f7;
  --Rhh-post-blockquote-bg: #fafcff;
  --Rhh-post-tabs-bg: #f2f5f8;
  --Rhh-secondbg: #edf0f7;
  --Rhh-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
  --Rhh-card-bg: #fff;
  --Rhh-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --Rhh-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --Rhh-card-border: #c0c6d8;
}

[data-theme="dark"] {
  --Rhh-theme: #0084ff;
  --Rhh-theme-op: #0084ff23;
  --Rhh-blue: #0084ff;
  --Rhh-red: #ff3842;
  --Rhh-pink: #ff7c7c;
  --Rhh-green: #57bd6a;
  --Rhh-fontcolor: #f7f7fa;
  --Rhh-background: #18171d;
  --Rhh-reverse: #fff;
  --Rhh-maskbg: rgba(0, 0, 0, 0.6);
  --Rhh-maskbgdeep: rgba(0, 0, 0, 0.85);
  --Rhh-hovertext: #0a84ff;
  --Rhh-ahoverbg: #fff;
  --Rhh-lighttext: #f2b94b;
  --Rhh-secondtext: #a1a2b8;
  --Rhh-scrollbar: rgba(200, 200, 223, 0.4);
  --Rhh-card-btn-bg: #30343f;
  --Rhh-post-blockquote-bg: #000;
  --Rhh-post-tabs-bg: #121212;
  --Rhh-secondbg: #30343f;
  --Rhh-shadow-nav: 0 5px 20px 0px rgba(28, 28, 28, 0.4);
  --Rhh-card-bg: #1d1b26;
  --Rhh-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --Rhh-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --Rhh-card-border: #42444a;
  --Rhh-tag-background: rgba(0, 0, 0, .3);
}